.paravoce {
    font-size: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.imagens {
    display: flex;
    flex-direction: row;
    gap: 205px;
    margin-top: 10px;
}

.descricao{
    font-size:20px ;
    font-family: Arial, Helvetica, sans-serif;
}