.paravoce {
    font-size: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.imagens {
    display: flex;
    flex-direction: row;
    gap: 205px;
    margin-top: 10px;
}

.descricao{
    font-size:20px ;
    font-family: Arial, Helvetica, sans-serif;
}

ibtn-cart{
    background-color: #F69F71;
    border: none;
    width: 50px;
    height: 35px;
    border-radius: 8px;
}